language: python

git:
  depth: false

matrix:
  include:
  - os: linux
    sudo: false
    python: '3.4'
  - os: linux
    sudo: false
    python: '3.5'
  - os: linux
    sudo: false
    python: '3.6'
  - os: osx

install:
  - pip install tox

script:
  - tox

branches:
  only:
  - "master"
